.header {
    display: flex;
    justify-content: space-between;
    padding: 2rem 8rem;
    position: absolute;
    width: 100%;
    z-index: 4;

    &__content {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }

    &__logo {
        height: 3rem;
        width: auto;
    }

    &__title {
        font-size: 2rem;
        font-weight: 600;
        margin-left: 1rem;
        letter-spacing: 0.5rem;
    }

    &__link {
        color: $color-grey-dark-3;
    }

    &__menu {
        align-items: center;
        display: flex;
        flex: 0.6 auto;
    }
}
