$left-slider-width: 60%;
$right-slider-width: 40%;

.slider {
    height: 100vh;
    overflow: hidden;
    position: relative;
    width: 100vw;

    &__side {
        height: 100%;
        position: absolute;
        top: 0;
        transition: transform 0.5s ease-in-out;

        &--left {
            left: 0;
            width: $left-slider-width;
            display: flex;
        }

        &--right {
            left: $left-slider-width;
            width: $right-slider-width;
        }
    }

    &__title {
        cursor: pointer;
        font-size: 10rem;
        font-weight: 400;
        margin: 30rem 0 3rem 0;
        line-height: 1;

        &--left:hover,
        &--right {
            -webkit-text-stroke: 2px $color-grey-dark-3;
            -webkit-text-fill-color: transparent;
        }

        &--right {
            font-size: 8rem;
        }
    }

    &__text {
        color: $color-grey-dark-3;
        font-size: 2rem;
        margin-bottom: 3rem;
    }

    &__view-more {
        font-size: 3rem;

        &:hover {
            -webkit-text-stroke: 1px $color-grey-dark-3;
            -webkit-text-fill-color: transparent;
        }
    }

    &__slide {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        display: flex;
        flex-shrink: 0;
        height: 100%;
        padding: 0 8rem;
        width: 100%;

        &:nth-of-type(1) {
            background-image: url('../assets/images/home.jpg');
        }
        &:nth-of-type(2) {
            background-image: url('../assets/images/sobre-mi.jpg');
        }
        &:nth-of-type(3) {
            background-image: url('../assets/images/dermatologia-integrativa.jpg');
        }
        &:nth-of-type(4) {
            background-image: url('../assets/images/consulta.jpg');
        }
        &:nth-of-type(5) {
            background-image: url('../assets/images/programa-grupal.jpg');
        }
        &:nth-of-type(6) {
            background-image: url('../assets/images/contacto.jpg');
        }
        &:nth-of-type(7) {
            background-image: url('../assets/images/blog.jpg');
        }
    }

    &__navigation {
        background-color: rgba(255, 255, 255, 0.3);
        bottom: 0;
        display: flex;
        height: 15rem;
        right: $right-slider-width;
        position: absolute;
        width: 35rem;
    }

    &__btn {
        background: none;
        border: none;
        color: $color-grey-dark-2;
        cursor: pointer;
        flex-grow: 1;
        font-size: 2.5rem;
        padding: 1.5rem;
        text-transform: uppercase;

        &:hover {
            color: $color-grey-dark-3;
        }

        &:focus {
            outline: none;
        }
    }

    &__separator {
        border-left: 2px solid $color-grey-dark-2;
        margin: 4rem 0;
        transform: skew(-30deg);
    }

    &__footer {
    }
}
