.desktop-menu {
    display: flex;
    flex: 1 auto;
    font-size: 2rem;
    justify-content: space-between;
    list-style: none;

    &__link {
        color: $color-grey-dark-3;
        cursor: pointer;
    }
}
