@mixin navigation-link {
    color: $color-grey-dark-3;
    cursor: pointer;

    &::after {
        content: '';
        display: block;
        height: 2px;
        width: 100%;
        background-color: $color-grey-dark-3;
        transform: scale(0, 1);
        transition: transform 0.3s linear;
    }

    &:hover::after,
    &:focus::after,
    &:active::after {
        transform: scale(1, 1);
    }
}

.desktop-menu {
    display: flex;
    flex: 1 auto;
    font-size: 2rem;
    justify-content: space-between;
    list-style: none;

    @include respond(tab-port) {
        display: none;
    }

    &__link {
        @include navigation-link();
    }
}

.mobile-menu {
    align-items: center;
    background-color: rgba(251, 251, 251, 0.9);
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    transform: translateX(100vh);
    transition: all 0.4s ease-in;
    visibility: hidden;

    &__wrapper {
        display: none;

        @include respond(tab-port) {
            display: block;
        }
    }

    &__toggle {
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
        width: 4rem;
        height: 4rem;
        margin: 2rem;
        opacity: 0;
        z-index: 2;
    }

    &__hamburger {
        align-items: center;
        display: flex;
        height: 4rem;
        justify-content: center;
        margin: 2rem;
        position: absolute;
        right: 0;
        top: 0;
        width: 4rem;
        z-index: 1;
    }

    &__icon {
        align-items: center;
        background-color: #333;
        display: flex;
        height: 2px;
        justify-content: center;
        position: relative;
        transition: transform 0.4s ease;
        width: 100%;
    }

    &__icon:before,
    &__icon:after {
        background-color: inherit;
        content: '';
        height: 2px;
        position: absolute;
        top: -10px;
        width: 100%;
        z-index: 1;
    }

    &__icon:before {
        top: 10px;
    }

    &__toggle:checked ~ & {
        transform: translateX(0);
        visibility: visible;
    }

    &__toggle:checked + &__hamburger > &__icon {
        transform: rotate(135deg);
    }

    &__toggle:checked:hover + &__hamburger > &__icon {
        transform: rotate(225deg);
    }

    &__toggle:checked + &__hamburger > &__icon:before,
    &__toggle:checked + &__hamburger > &__icon:after {
        top: 0;
        transform: rotate(90deg);
    }

    &__item {
        color: #333;
        display: flex;
        font-size: 3rem;
        list-style: none;
        padding: 1rem;
    }

    &__link {
        @include navigation-link();
    }
}
