.desktop-menu {
    display: flex;
    font-size: 2rem;
    list-style: none;
    padding: 0;

    &__item {
        margin-left: 3rem;
    }

    &__link {
        color: $color-grey-dark-3;
    }
}
