.section {
    color: rgba(51, 51, 51, 0.8);
    display: flex;
    height: 100vh;
    overflow-y: scroll;
    padding: 0 8rem;
    width: 100vw;

    @include respond(tab-port) {
        padding: 0 5rem;
    }

    &__half {
        display: flex;
        flex-direction: column;
        width: 50%;

        @include respond(tab-port) {
            width: auto;
        }

        &--left {
            align-items: center;
            justify-content: center;
            padding: 5rem;
            position: relative;

            @include respond(tab-port) {
                display: none;
            }
        }
    }

    &__title {
        font-size: 10rem;
        font-weight: 400;
        margin: 20rem 0 3rem 0;
        left: 50%;
        line-height: 1;
        position: absolute;
        z-index: -1;
        -webkit-text-stroke: 2px $color-grey-dark-3;
        -webkit-text-fill-color: transparent;

        @include respond(tab-port) {
            font-size: 7rem;
            left: 5%;
        }
    }

    &__content {
        font-size: 1.5rem;
        line-height: 2;
        padding: 40rem 0 5rem 0;
    }

    &__block {
        padding: 1rem 0 5rem 0;
    }

    &__secondary-title {
        margin-bottom: 1.5rem;
    }

    &__tertiary-title {
        margin-bottom: 1rem;
    }

    &__paragraph {
        margin-bottom: 1rem;
        padding-left: 15rem;

        @include respond(tab-port) {
            padding-left: 5rem;
        }
    }

    &__quote {
        margin: 5rem 0;
        padding-left: 5rem;
        position: relative;

        &::before {
            content: '\201C';
            color: $color-grey-dark-1;
            font-family: sans-serif;
            font-size: 20rem;
            left: 17rem;
            line-height: 1;
            opacity: 0.1;
            position: absolute;
            top: -3.75rem;
            z-index: -1;

            @include respond(tab-port) {
                left: 7rem;
            }
        }
    }

    &__img {
        max-height: 75%;
        max-width: 35%;
        opacity: 0;
        position: fixed;
        top: 55%;
        transform: translateY(-50%);
        transition: opacity 0.4s ease-in;

        &.active {
            opacity: 1;
        }
    }

    &__list {
        margin-bottom: 1.5rem;
        padding-left: 20rem;

        @include respond(tab-port) {
            padding-left: 10rem;
        }
    }
}

.link {
    text-decoration: underline;
}
